<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics - Forms input binding</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <div id="app">
        <h1>{{ greeting }}</h1>
  
        <span v-text="question"></span>

        <string-template-component></string-template-component>

        <external-node-component></external-node-component>
        <template id="external-node-template">
          <div><p>Hello, I am a global external node templated component</p></div>
        </template>
        
        <inline-template-component inline-template>
          <div><p>Hello, I am a global component {{ prova }}</p></div>
        </inline-template-component>

    </div>    
  </body>
</html>
