<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics - Forms input binding</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <div id="app">
      <section class="hero is-fullheight is-warning is-bold">
        <div class="hero-body">
          <div class="container">
            <p class="title is-1">{{ title }}</p>
            <p class="subtitle is-3">{{ subtitle }}</p>
            <!-- Renders "Hello from the parent!" -->
           <child-component>
             <p slot="bottom">Let's move this into the bottom slot</p>
             <h2>Hello from the Francesco!</h2>
             <p slot="top">Let's move this into the top slot</p>
           </child-component>
           <!-- Renders "Hello from the child!" -->
           <child-component></child-component>
          </div>
        </div>
     </section>
   </div>
   
   <script type="text/x-template" id="child-component">
     <div>
       <!-- Elements injected with the `slot="top"` attribute will end up in here. -->
       <slot name="top">
       </slot>
       <!-- A slot tag without a name is a catch-all,
       it will contain any content that doesn't have
       a `slot=""` attribute. -->
       <slot>
         <p>Hello from the child!</p>
       </slot>
       <!-- Elements injected with the `slot="bottom"`
       attribute will end up in here. -->
       <slot name="bottom">
       </slot>
     </div>
   </script>
  </body>
</html>
